<div class="dashboard-container">
    <!-- Metrics Section -->
    <div class="metrics-grid">
        <div class="metric-card">
            <h3>Users</h3>
            <p [countUp]="this.stats.users"></p>
        </div>
        <div class="metric-card">
            <h3>Pre-Bookings</h3>
            <p [countUp]="this.stats.preBookings"></p>
        </div>
        <div class="metric-card">
            <h3>Vehicles</h3>
            <p [countUp]="this.stats.vehicles"></p>
        </div>
        <div class="metric-card">
            <h3>Active Bookings</h3>
            <p [countUp]="this.stats.activeBookings"></p>
        </div>
    </div>

    <!-- Recent Bookings Table -->
    <div class="table-container">
        <h2>Recent Bookings</h2>
        <table>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Pickup Location</th>
                    <th>Drop Location</th>
                    <th>Payment Status</th>
                    <th>Booking status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of recentBookings">
                    <td style="white-space: nowrap;">{{ booking.fullName }}</td>
                    <td>{{ booking.startDate }}</td>
                    <td>{{ booking.endDate }}</td>
                    <td style="white-space: nowrap;">{{ booking.pickupLocation }}</td>
                    <td style="white-space: nowrap;">{{ booking.dropLocation }}</td>
                    <td style="white-space: nowrap;">{{ booking.paymentStatus }}</td>
                    <td style="white-space: nowrap;">{{ booking.bookingStatus }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>