<mat-toolbar>
    <div style="display: flex;justify-content: space-between;align-items: center;align-content: center;width: 100%; ">
        <div style="display: flex;align-items: center;align-content: center;">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>SmartDrive</span>
        </div>
        
        <div>
            <button mat-button color="primary" (click)="openDialog()">Registration</button>
        </div>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>