<form [formGroup]="brandForm" (ngSubmit)="onSubmit()">
  <div style="width: 100%;display: flex; flex-direction: row;">
    <div class="container">
      <div class="inputField">
        <input id="brandName" type="text" formControlName="brandName" autocomplete="off" placeholder=" " />
        <label for="brandName">Brand Name:</label>
        <div *ngIf="brandForm.get('brandName')?.invalid && brandForm.get('brandName')?.touched">
          Brand name is required
        </div>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="brandForm.invalid">Add Brand</button>
</form>