<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">

    <div style="width: 100%;display: flex; flex-direction: column;">
        <div style="width: 100%;display: flex; flex-direction: row;">
            <div class="container">
                <div class="inputField">
                    <input id="userName" type="text" formControlName="userId" class="input-level-1"
                        [formControl]="userNameSearchControl" [matAutocomplete]="userNameAuto" autocomplete="off"
                        placeholder=" " />
                    <label for="userName">User name:</label>
                    <mat-autocomplete #userNameAuto="matAutocomplete">
                        <mat-option *ngFor="let item of userNameFilteredOptions" (click)="setUserIdInForm(item)">
                            {{ item.userName }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>


            <div class="container">
                <div class="inputField">
                    <input id="vehicleName" type="text" formControlName="vehicleId" class="input-level-1"
                        [formControl]="vehicleNameSearchControl" [matAutocomplete]="vehicleNameAuto" autocomplete="off"
                        placeholder=" " />
                    <label for="vehicleName">Vehicle Name:</label>
                    <mat-autocomplete #vehicleNameAuto="matAutocomplete">
                        <mat-option *ngFor="let item of vehicleNameFilteredOptions" (click)="setVehicleIdInForm(item)">
                            {{ item.vehicleName }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>

            <div class="container">
                <div class="inputField">
                    <input id="brandName" type="text" required formControlName="brandName" class="input-level-1"
                        autocomplete="off" placeholder=" " />
                    <label for="brandName">Brand Name:</label>
                </div>
            </div>

            <div class="container">
                <div class="inputField">
                    <input id="vehicleModelName" type="text" required formControlName="vehicleModelName"
                        class="input-level-1" autocomplete="off" placeholder=" " />
                    <label for="vehicleModelName">Vehicle Model Name:</label>
                </div>
            </div>
        </div>
        <div style="width: 100%;display: flex; flex-direction: row;">
            <div class="container">
                <div class="inputField">
                    <input id="startDate" type="date" formControlName="startDate" class="input-level-1"
                        autocomplete="off" placeholder=" " />
                    <label for="startDate">Start Date:</label>
                </div>
            </div>

            <div class="container">
                <div class="inputField">
                    <input id="endDate" type="date" formControlName="endDate" class="input-level-1" autocomplete="off"
                        placeholder=" " />
                    <label for="endDate">End Date:</label>
                </div>
            </div>

            <div class="container">
                <div class="inputField">
                    <input id="drivingLicenseNumber" type="text" formControlName="drivingLicenseNumber"
                        class="input-level-1" autocomplete="off" placeholder=" " />
                    <label for="drivingLicenseNumber">Driving License Number:</label>
                </div>
            </div>

        </div>
        <div style="width: 100%;display: flex; flex-direction: row;">
            <div class="container">
                <div class="inputField">
                    <input id="pickupLocation" type="text" formControlName="pickupLocation" class="input-level-1"
                        autocomplete="off" placeholder=" " />
                    <label for="pickupLocation">Pickup Location:</label>
                </div>
            </div>
            <div class="container">
                <div class="inputField">
                    <input id="dropLocation" type="text" formControlName="dropLocation" class="input-level-1"
                        autocomplete="off" placeholder=" " />
                    <label for="dropLocation">Drop Location:</label>
                </div>
            </div>

            <div class="container">
                <div class="inputField">
                    <select formControlName="paymentMode" class="input-level-1">
                        <option value="UPI">UPI</option>
                        <option value="CASH">CASH</option>
                        <option value="NET_BANKING">NET_BAsNKING</option>
                        <option value="CARD">CARD</option>
                        <option value="WALLET">WALLET</option>
                    </select>
                    <label for="paymentMode">Payment Mode:</label>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="bookingForm.invalid">Add Booking</button>
</form>