<form [formGroup]="bookingForm">

    <div style="width: 100%;display: flex; flex-direction: column;">
        <div style="width: 100%;display: flex; flex-direction: row;">
            <div class="container">
                <div class="inputField">
                    <input id="userName" type="text" formControlName="userId" class="input-level-1"
                        [formControl]="userNameSearchControl" [matAutocomplete]="auto" autocomplete="off" placeholder=" " />
                    <label for="userName">User name:</label>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let item of userNameFilteredOptions" (click)="setValue(item)">
                            {{ item.userName }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>

            <div class="container">
                <div class="inputField">
                    <input id="lastName" type="text" required formControlName="vehicleId" class="input-level-1"
                        autocomplete="off" placeholder=" " />
                    <label for="lastName">Vehicle ID:</label>
                </div>
            </div>
        </div>
        <div style="width: 100%;display: flex; flex-direction: row;">
            <div class="container">
                <div class="inputField">
                    <input id="email" type="date" formControlName="startDate" class="input-level-1" autocomplete="off"
                        placeholder=" " />
                    <label for="email">Start Date:</label>
                </div>
            </div>

            <div class="container">
                <div class="inputField">
                    <input id="phoneNumber" type="date" formControlName="endDate" class="input-level-1"
                        autocomplete="off" placeholder=" " />
                    <label for="phoneNumber">End Date:</label>
                </div>
            </div>

            <div class="container">
                <div class="inputField">
                    <input id="drivingLicenseNumber" type="text" formControlName="drivingLicenseNumber"
                        class="input-level-1" autocomplete="off" placeholder=" " />
                    <label for="drivingLicenseNumber">Driving License Number:</label>
                </div>
            </div>
            <div class="container">
                <div class="inputField">
                    <input id="idProofNumber" type="text" formControlName="pickupLocation" class="input-level-1"
                        autocomplete="off" placeholder=" " />
                    <label for="idProofNumber">Pickup Location:</label>
                </div>
            </div>
        </div>
        <div style="width: 100%;display: flex; flex-direction: row;">
            <div class="container">
                <div class="inputField">
                    <input id="addressLine1" type="text" formControlName="dropLocation" class="input-level-1"
                        autocomplete="off" placeholder=" " />
                    <label for="addressLine1">Drop Location:</label>
                </div>
            </div>

            <div class="container">
                <div class="inputField">
                    <select formControlName="paymentMode" class="input-level-1">
                        <option value="UPI">UPI</option>
                        <option value="CASH">CASH</option>
                        <option value="NET_BANKING">NET_BAsNKING</option>
                        <option value="CARD">CARD</option>
                        <option value="WALLET">WALLET</option>
                    </select>
                    <label for="addressLine2">Payment Mode:</label>
                </div>
            </div>
        </div>
    </div>
</form>