<form [formGroup]="vehicleModelForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="isActive">Brand Name:</label>
    <mat-form-field style="width: 300px;">
      <input type="text" formControlName="brandId" matInput [formControl]="searchControl" [matAutocomplete]="auto"
        placeholder="Search..." />
      <mat-autocomplete #auto="matAutocomplete" style="color: black">
        <mat-option *ngFor="let item of filteredOptions" style="color: black"
          (click)="setValue(item)">
          {{ item.brandName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <label for="vehicleModelName">Vehicle name:</label>
    <input id="vehicleModelName" type="text" formControlName="vehicleModelName" class="input-level-1" />
  </div>

  <button type="submit">Add Vehicle</button>
</form>