<button mat-raised-button color="primary" (click)="navigateToAddUser()">Add User</button>
<div class="brand-container">
  <table class="brand-table">
    <thead>
      <tr>
        <th>#</th>
        <th>role</th>
        <th>Full name</th>


        <th>email</th>
        <th>phoneNumber</th>
        <th>drivingLicenseNumber</th>
        <th>idProofType</th>

        <th>idProofNumber</th>
        <th>addressLine1</th>
        <th>addressLine2</th>
        <th>taluk</th>

        <th>district</th>
        <th>state</th>
        <th>pincode</th>
        <th>country</th>

        <th>fatherName</th>
        <th>motherName</th>
        <th>nomineeName</th>
        <th>nomineeRelation</th>

        <th>nomineePhone</th>
        <th>occupation</th>
        <th>companyName</th>
        <th>alternatePhoneNumber</th>
        <th>lastLoginTime</th>

        <th>Status</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <!-- <td>{{ (currentPage * pageSize) + i + 1 }}</td> -->
        <td>{{ user.userDetailsResponseDTO.userId }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.userDetailsResponseDTO.fullName }}</td>


        <td>{{ user.userDetailsResponseDTO.email }}</td>
        <td>{{ user.userDetailsResponseDTO.phoneNumber }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.drivingLicenseNumber || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.idProofType || 'N/A' }}</td>

        <td>{{ user.userKycDetailsResponseDTO?.idProofNumber || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.addressLine1 || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.addressLine2 || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.taluk || 'N/A' }}</td>

        <td>{{ user.userKycDetailsResponseDTO?.district || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.state || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.pincode || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.country || 'N/A' }}</td>

        <td>{{ user.userKycDetailsResponseDTO?.fatherName || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.motherName || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.nomineeName || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.nomineeRelation || 'N/A' }}</td>

        <td>{{ user.userKycDetailsResponseDTO?.nomineePhone || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.occupation || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.companyName || 'N/A' }}</td>
        <td>{{ user.userKycDetailsResponseDTO?.alternatePhoneNumber || 'N/A' }}</td>
        <td>{{ user.lastLoginTime }}</td>

        <!-- <td>{{ user.userDetailsResponseDTO.isActive ? 'Active' : 'Inactive' }}</td> -->
        <td *ngIf="user.userDetailsResponseDTO.isActive==1">
          <div><span style="padding: 2px 16px;
    border-radius: 4px;
    color: white;
    background: green;">Active</span></div>
        </td>
        <td *ngIf="user.userDetailsResponseDTO.isActive==2">
          <div><span style="padding: 2px 16px;
    border-radius: 4px;
    color: white;
    background: grey">InActive</span></div>
        </td>

        <td class="action-buttons">
          <button mat-icon-button color="primary" (click)="editUser(user.userDetailsResponseDTO.userId)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser(user.userDetailsResponseDTO.userId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
<!-- <div>
  <div class="container mt-5">
    <h2 class="text-primary">Bootstrap is Working!</h2>
    <button class="btn btn-success">Click Me</button>
  </div>
</div> -->