<!-- <mat-toolbar style="background-color: #5698b3;">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Admin Dashboard</span>
</mat-toolbar> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened style="background-color: grey;">
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/dashboard">Dashboard</a>

      <mat-expansion-panel style="background-color: grey;">
        <mat-expansion-panel-header>
          <mat-panel-title>Master</mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/admin/get-brand">Brand Master</a>
        <a mat-list-item routerLink="/admin/get-vehicle-model">Vehicle model</a>
        <a mat-list-item routerLink="/admin/get-user">User Master</a>
        <a mat-list-item routerLink="/admin/get-vehicle">Vehicle</a>
        <a mat-list-item routerLink="/admin/get-booking">Booking</a>
      </mat-expansion-panel>

      <a mat-list-item routerLink="/admin/booking">Booking</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="background-color: white;color: black">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>