/* 

.rating {
  font-weight: bold;
  color: green;
}

.price {
  color: #000;
  font-weight: bold;
}
.car-img {
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.vehicle-info {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  min-height: 130px;
} */

.car-img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.vehicle-carousel .carousel-control-prev,
.vehicle-carousel .carousel-control-next,
.vehicle-carousel .carousel-indicators {
  display: none; /* hidden by default */
}

.vehicle-carousel:hover .carousel-control-prev,
.vehicle-carousel:hover .carousel-control-next,
.vehicle-carousel:hover .carousel-indicators {
  display: flex; /* show only on hover */
}

.vehicle-info {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}


/*  */
.date-range-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 14px 12px;
  background: white;
  min-width: 500px;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.location-icon {
  color: #444;
  margin-right: 8px;
}

.location-text {
  /* flex: 1;
  font-size: 14px;
  color: #333;
  margin-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.date-display {
  display: flex;
  gap: 16px;
}

.date-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-item .date {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  color: #1C1C1C;
  text-align: center;
}

.date-item .time {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #1C1C1C;
  color: #6D6D6D;
  text-align: left;
}